# GEMINI_API_KEY: Required for Gemini AI API calls.
# Generate your own po, you can search online how.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: Paste whatever link node.js localhost gives you.
APP_URL="MY_APP_URL"
